<section fxLayout="row" fxLayoutAlign="center center">
  <mat-slide-toggle
    color="primary"
    (change)="thisWeekToggle = !thisWeekToggle; createEventToggle = false; eventsFromRangeToggle = false"
    [checked]="thisWeekToggle">
    Open this week createdEvents
  </mat-slide-toggle>

  <mat-slide-toggle
    color="primary"
    (change)="createEventToggle = !createEventToggle; thisWeekToggle = false; eventsFromRangeToggle = false"
    [checked]="createEventToggle">
    Open menu for creating a new event
  </mat-slide-toggle>

  <mat-slide-toggle
    color="primary"
    (change)="eventsFromRangeToggle = !eventsFromRangeToggle; thisWeekToggle = false; createEventToggle = false"
    [checked]="eventsFromRangeToggle">
    Open menu for viewing createdEvents between dates
  </mat-slide-toggle>
</section>

<app-event-list *ngIf="thisWeekToggle" [thisWeek]="true"></app-event-list>
<app-create-event [create]="true" *ngIf="createEventToggle"></app-create-event>
<app-events-from-range *ngIf="eventsFromRangeToggle"></app-events-from-range>
