<h1 fxLayout="row" fxLayoutAlign="center center" class="mat-h1">This week events</h1>
<app-event-list [thisWeek]="true"></app-event-list>

<h1 fxLayout="row" fxLayoutAlign="center center" class="mat-h1">Events from range</h1>
<app-events-from-range></app-events-from-range>

<h3 fxLayout="row" fxLayoutAlign="center center" class="mat-h3">Create a new event</h3>
  <div fxLayout="row" fxLayoutAlign="center center"><app-create-event [create]="true" [user]="user"></app-create-event></div>

<button (click)="getMock()" >Click</button>
